<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/users_database</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">ns200584</property>

        <!-- JDBC connection pool -->
        <property name="connection.pool_size">5</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Automatically validate or export schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Log using log4j2 -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>

        <!-- Mapped classes -->
        <mapping class="com.example.User"/>
    </session-factory>
</hibernate-configuration>
