<configuration>
    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern> <!-- Only show your actual messages -->
        </encoder>
    </appender>
</configuration>
